
#container {
	background-color: Orange;
	height: 50%;
	width: 100%;
	border: 1px solid black;
	text-align: center;
}

#second_container {
	background-color: red;
	height: 50%;
	width: 100%;
	border: 1px solid black;
	text-align: center;
	display: none;
}



/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
	#container {
		background-color: Cyan;
	}
}

 
/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	#container {
		background-color: brown;
	}
}
 
/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
	#container {
		background-color: pink;
	}
}
 

 
/* mobile (landscape)----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape) {
	#container {
		background-color: BlueViolet;
	}
}
 
/* mobile (portrait)----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) {
	#container {
		background-color: Chartreuse  ;
		
	}
	/* #second_container {
		background-color: red  ;
		height: 100%;
	}
	*/
}